#PARAMS_BEG
OutpuFileName=workarea/data/bdtNtuples/RunIISummer19/2018/TGJets.root
MaxEvents=-1
WeightScale=58.9
treeName=tagsDumper/trees/bkg_13TeV_TrippleHTag_0
processID=MC
doBjetConting=False
minNBjetsFromMC=0
maxNBjetsFromMC=0
doPtReWeighting=0
pTReweitingFile=metaData/pTScaleFactorFile.root
pTReweitingHistName=pTDependent_scaleFactor
#PARAMS_END

#FNAMES_BEG
workarea/data/flashGGNtuples/RunIISummer19/2018/output_TGJets_TuneCP5_13TeV-amcatnlo-madspin-pythia8.root
#FNAMES_END
